apiVersion: v1
kind: Service
metadata:
  name: auth-provider-svc
  namespace: auth-provider
spec:
  type: NodePort
  selector:
    app: auth-provider
  ports:
    - name: web
      port: 8080
      targetPort: 8080
      nodePort: 30089
