apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather
  namespace: jamchat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weather
  template:
    metadata:
      labels:
        app: weather
    spec:
      imagePullSecrets: 
      - name: regcred
      containers:
      - name: weather
        image: repo.matzen.io/weather:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
          protocol: TCP
